.btn {
  text-shadow: 5px 5px 6px rgba(253, 6, 6, 0.801);
  border-radius: 5px;
  margin: 5px;
  border:0px;
  padding: 12px;
}
.btn-primary{
  background-color: blue;
  color: aliceblue;
}
.btn-secondary{
  background-color: darkgrey;
  color: white;
}
.btn-success {
  background-color: green;
  color: beige;
}
.btn-danger {
  background-color: red;
  color: white;
}
.btn-writing {
  background-color: yellow;
  color: rgb(0, 0, 0);
}
.btn-info {
  background-color: cyan;
  color: rgb(0, 0, 0);
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color: black;
  color: white;
}
.btn-link {
  background-color: white;
  color: blue;
  text-decoration: underline;
}

.btn-small {
  padding: 4px 8px;
  font-size: 10px;
}
.btn-big {
  padding: 18px 9px;
  font-size: 20px;
}

/*Nature*/

.align-right {
  float: right;
}
.align-left {
  float: left;
}
.border {
  border-width: 2px;
}
.solid {
  border-style: solid;
}
.dashed {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}
.border-color {
  border-color: blue;
}
.margin-left {
  margin-left: 10px;
}
.margin-right {
  margin-right: 10px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.background-color {
  background-color: green;
}
.width {
  width: 60%;
}
.text-shadow {
  text-shadow: 5px 5px 8px purple;
}
.padding-left {
  padding-left: 15px;
}
.padding-right {
  padding-right: 15px;
}
.padding-top {
  padding-top: 10px;
} 
.padding-bottom {
  padding-bottom: 10px;
}
.border-left-style {
  border-left-style: solid;
}
.border-right-color {
  border-right-color: rgb(151, 1, 211);
}
.border-right-width {
  border-right-width: 8px;
}
.border-top-style {
  border-top-style: dashed;
}
.border-top-width {
  border-top-width: 10px;
}
.border-top-color {
  border-top-color: hotpink;
}
.border-left-width {
  border-left-width: 10px;
}
.background-color2 {
  background-color: rgba(29, 207, 178, 0.39);
}
.color {
  color: rgb(73, 73, 197);
}
.text-overflow {
  overflow-x: scroll;
}
.height {
  height: 100px;
}
.margin-left2 {
  margin-left: 450px;
}
.font-size {
  font-size: 25px;
}
.color2 {
  color: rgb(55, 0, 255);
}
.text-shadow2 {
  text-shadow: 5px 5px 10px rgb(255, 238, 0);
}
.font-style {
  font-style: italic;
} 
.border-radius {
  border-radius: 50px;
}
.padding {
  padding: 20px;
}